* { margin: 0; padding: 0;}
body {
	width: 962px;
	background-color: #3140F7;
	margin: 15px auto;
	border: 1px solid black:
	
}
h2 { padding: 1em; }

header { border-bottom: 2px solid #000000;}

main {
	height: 350px;
	width: 600px;
	float: left;
	border-right: 2px solid #000000;
	
}
aside {
	width: 360px;
	float: right;
}
footer {
	clear: both;
	border-top: 2px solid #000000;
}
 